* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 1.25rem;
  border: 0.375rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
